<%= render partial: "errors" %>
<%= form_for(@article, html: {multipart: true}) do |f| %>
  <div class="form__item">
    <%= f.label :title, { class: 'form__label' } %>
    <%= f.text_field :title,{ class:'form__field' } %>
  </div>

  <div class="form__item">
    <%= f.label :body, { class: 'form__label' } %>
    <%= f.text_area :body,{ class:'form__field' } %>
  </div>

  <div class="form__item">
    <%= f.label :tag_list, { class: 'form__label' } %>
    <%= f.text_field :tag_list,{ class:'form__field' } %>
  </div>

  <div class="form__item">
    <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image", { class: 'form__label' }  %><br />
    <%= f.file_field :image, { class: 'form__field' }  %>
  </div>




  <div class="form__item">
    <%= f.submit %>
  </div>
<% end %>
