<% if logged_in? %>
<h1><%= @article.title %></h1>
<% unless @article.image_file_name.nil? %>
<div class="thumbnail"><%= image_tag @article.image.url %></div>
<% end %>

<p><%= @article.body %></p>

<div class="tags">
  <h2>Tags:</h2>
  <%= render partial: "tags/tag", collection: @article.tags %>
</div>

<div class="comments__comments">
  <h2>Comments (<%= @comments.size %>)</h2>
  <%= render partial: "comments/comment", collection: @comments %>
</div>

<div class="comments__post">
  <h2>Post comments</h2>
  <%= render partial: "comments/form" %>
</div>

<div class="btns">
  <%= link_to "Edit", edit_article_path(@article), class:'btn' %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn' %>
  <%= link_to  "Back to articles listing", articles_path, class:'btn' %>
</div>
<% else %>
<p>To see the articles, you need to create an account and log in.</p>
<%= link_to  "Login", login_path, class: 'btn' %>
<%= link_to  "Create an account", new_author_path, class: 'btn' %>
<% end %>
